---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% for project in site.data.projects %}
      {% if project.slug == page.slug %}
        <span class="time">{{ project.date }}</span> &raquo;
        {% for tag in project.tags %}
          <span class="tags tag-filter">{{ tag }}</span>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </header>

  <div class="content">
    {% for project in site.data.projects %}
      {% if project.slug == page.slug %}
        <a href="/static/projects/{{ project.image }}" class="thickbox">
          <img src="/static/projects/{{ project.image }}" alt="{{ page.title }}" title="{{ page.title }}">
        </a>
      {% endif %}
    {% endfor %}
    <hr />
    {{ content }}
  </div>

  <br>

  <div style="text-align: center; margin-top: 30px">
    <a href="https://www.buymeacoffee.com/hiddenbeginner"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=hiddenbeginner&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff" /></a>
    <h5>불쌍한 대학원생에게 커피 한 잔 사주기</h5>
  </div>
  
  <br>

  <div>
    <h2>댓글</h2>
    <script src="https://utteranc.es/client.js"
            repo="hiddenbeginner/hiddenbeginner.github.io"
            issue-term="title"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
  </div>
</article>
